/.metadata/
/.classpath
/org.eclipse.jdt.apt.core.prefs
/org.eclipse.jdt.core.prefs
/MANIFEST.MF
/pom.properties
.project
.settings/
target/
org.eclipse.jdt.apt.core.prefs
org.eclipse.jdt.core.prefs
MANIFEST.MF
pom.properties
/.project/
/.settings/
/target/
/org.eclipse.jdt.apt.core.prefs/
/org.eclipse.jdt.core.prefs/
/MANIFEST.MF/
/pom.properties/
