<style>
 .container{
   margin-left: 40px;
   margin-right: 40px;
   padding-top: 80px;
   
  }
  input:hover{
    background-color: #e0f0dc;
   
  }
  .header{
    text-align: center;
  }
  h1{
    margin-right: 80px;
    letter-spacing:6px;
  }
</style>
<body>
  <div class="container">
    
     <div class="row">
       <div class="header">
        <h1>Sign Up</h1>

        <p style="letter-spacing: 2px;">Please fill in this form to create an account.</p>
       </div>
       
        <hr>
        <div class="col-4">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" [(ngModel)]="email" required>
    
        <label for="username"><b>User Name</b></label>
        <input type="text" placeholder="User Name" [(ngModel)]="username" required>
    
        <label for="firstname"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" [(ngModel)]="firstname" required>
    
        <label for="lastname"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" [(ngModel)]="lastname" required>
        <div class="revenu" >
          <img src="./assets/revenue.svg" alt="" style="height: 100px; margin-left: 20px; " >
        </div>
      </div>
        <div class="col-4" style="margin-left: 160px;">
       <label for="address"><b>Address</b></label>
       <input type="text" placeholder="Enter Address" [(ngModel)]="address" required>
      
       <label for="state"><b>State</b></label>
       <input type="text" placeholder="Enter State" [(ngModel)]="state" required>
  
       <label for="zipcode"><b>Zip Code</b></label>
       <input type="text" placeholder="Enter Zip" [(ngModel)]="zipcode" required>
  
       <label for="password"><b>Password</b></label>
       <input type="password" placeholder="Enter Password" [(ngModel)]="password" required>
  
       <label for="password2"><b>Repeat Password</b></label>
       <input type="password" placeholder="Confirm Password" [(ngModel)]="password2" required>
    
  </div>
 </div>     
      
        <p style="margin-left: 200px;">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    
        <div class="clearfix" style="width: 800px; margin-left: 20px;">
          <button type="button" class="cancelbtn" routerLink="">Cancel</button>
          <button (click)="register()" class="signupbtn">Sign Up</button>
        </div>
       
     
  </div>

</body>
