<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <!-- navbar-->
 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
     <div class="container-xxl">
         <a href="#main-nav" class="navbar-brand">
             <span class="fw-bold text-secondary">
                 Full Stack Banking
             </span>
         </a>
         <!-- Toggle button for login-->
         <button class="navbar-toggler" type="button" data-toggle="dropdown" data-target="#main-nav" aria-controls="main-nav" 
         aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Drop down menu-->
        
      <!-- navbar links -->
      <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#about-us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews">Reviews</a>
          </li>
          <!--For when they log-in these on the buttom will activate ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓-->
          <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/savings" class="nav-link">Savings</a></li>
          <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/user" class="nav-link">Checking</a></li>
          <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/credit" class="nav-link">Credit</a></li>
          <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
          <!--For when they log-in these on the buttom will activate ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div>
                    <h1>Account Login</h1>
                    <label for="username" >Username</label>
                    <input id="username" [(ngModel)] =" entered_user_name" type="text" placeholder="username" class="col-lg-15 form-control">
                    <br>
                    <label for="password">Password</label>
                    <input id="password" [(ngModel)] ="entered_user_password" type="password" placeholder="password" class="col-lg-15 form-control"> 
                    <br>
                    <button id="loginButton"  class="btn btn-dark"  (click) = "submit()">Login</button>  
                    <br>
                    <button id="signUpButton"  class="btn btn-dark"  routerLink="/signup">Sign Up</button>
                    <!--(click)="checkLogin()" -->
                </div>
             
            </ul>
        </ul>
      </div>
      
    </div>
    
  </nav>
  

  <!-- main image & intro text -->
  <section id="intro">
 
  </section>

  <!-- pricing plans -->


  <!-- topics at a glance -->


  <!-- reviews list -->


  <!-- contact form -->


  <!-- get updates / modal trigger -->

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>