<style>
   footer{
    background-color: #72a435;
    margin-top: 145px;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
}
   
address{
    padding-top: 20px;
}
.fa-link, .fa-facebook,  .fa-instagram-square, .fa-user-friends, .fa-youtube-square, .fa-address-book, .fa-address-card, .fa-city, .fa-phone-square-alt{
    margin-right: 12px;
  }

  .fa-envelope-square{
      padding-right: 15px;
  }
</style>
<div class="container">

        
  <footer class="text-light">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <h4><i class="fas fa-link"></i>Links</h4>
        <a class="nav-link text-light" href="index.html">Home</a>
        <a class="nav-link text-light" href="contact.html">Contact</a>
        <a class="nav-link text-light" href="about.html">About</a>
        <a class="nav-link text-light" href="portfolio.html">Portfolio</a>
    </div>
        
        <div class="col-sm-12 col-md-3">
            <h4><i class="fal fa-address-book"></i>Contact</h4>
            <address>
              <i class="fas fa-address-card"></i> 209 10th Ave NW <br/>
              <i class="fas fa-city"></i>Rochester NW, 55000<br/>
                <i class="fas fa-phone-square-alt"></i> 400-000-0000
            </address>
            <span class="footer-email"><i class="fas fa-envelope-square"></i>Email: Revaturegroupone@gmail.com</span>

        </div>
        <div class="col-sm-12 col-md-3">
            <h4><i class="fas fa-user-friends"></i>Social Media</h4>
                <p class="social"> <i class="fab fa-facebook"></i><a href="" class="text-light">Facebook</a></p>
                <p class="social"><i class="fab fa-instagram-square"></i><a href="" class="text-light">Instagram</a></p>
                <p class="social"><i class="fab fa-youtube-square"></i><a href="" class="text-light">YouTube</a></p>
            
        </div>
        <div class="col-sm-12 col-md-3">
              <p id="copy_right"> &copy;2021 All Rights Reserved</p>
            <P id="developer_name">By Group one</P>   
            <p class="last">August 2021</p>   
        </div>
    
      </div>
    </footer>
</div>